#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.sm {
  font-size: small;
  text-transform: capitalize;
  margin: auto;
  padding: 4 8;
}

.md {
  font-size: medium;
  text-transform: capitalize;
  margin: auto;
  padding: 8 12;
}

.lg {
  font-size: larger;
  text-transform: capitalize;
  margin: auto;
  padding: 12 18;
}

.xl {
  font-size: x-large;
  text-transform: capitalize;
  margin: auto;
  padding: 18 24;
}

.full {
  font-size: x-large;
  text-transform: capitalize;
  margin: auto;
  padding: 24 48;
}

.hidden {
  opacity: 0;
}

.box_react {
  min-width: 500px;
  height: 800px;
  margin: auto;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 2px solid black;
}



.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}